.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.galleryItem {
  display: block;
  width: 500px;
  height: 330px;
}
.galleryItem > img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
